<a href="https://colab.research.google.com/github/hemapallevada/BLOCKINOPENZEPPLIN/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file
train_url='https://raw.githubusercontent.com/ArunkumarGoge/DataAnalyticsLab/master/Exercise%206/train.csv'
name=["id","label","tweet"]
train = pd.read_csv(train_url, names=name,header=None)
train=train[1:][:]
test_url='https://raw.githubusercontent.com/ArunkumarGoge/DataAnalyticsLab/master/Exercise%206/test.csv'
namet=["id","tweet"]
test =  pd.read_csv(test_url, names=namet,header=None)
test=test[1:][:]

In [ ]:
train.head()

  id label                                              tweet
1  1     0   @user when a father is dysfunctional and is s...
2  2     0  @user @user thanks for #lyft credit i can't us...
3  3     0                                bihday your majesty
4  4     0  #model   i love u take with u all the time in ...
5  5     0             factsguide: society now    #motivation

In [ ]:
test.head()

      id                                              tweet
1  31963  #studiolife #aislife #requires #passion #dedic...
2  31964   @user #white #supremacists want everyone to s...
3  31965  safe ways to heal your #acne!!    #altwaystohe...
4  31966  is the hp and the cursed child book up for res...
5  31967    3rd #bihday to my amazing, hilarious #nephew...

In [ ]:
def num_of_words(df):
    df['word_count'] = df['tweet'].apply(lambda x : len(str(x).split(" ")))
    print(df[['tweet','word_count']].head())

In [ ]:
num_of_words(train)
num_of_words(test)

                                               tweet  word_count
1   @user when a father is dysfunctional and is s...          21
2  @user @user thanks for #lyft credit i can't us...          22
3                                bihday your majesty           5
4  #model   i love u take with u all the time in ...          17
5             factsguide: society now    #motivation           8
                                               tweet  word_count
1  #studiolife #aislife #requires #passion #dedic...          12
2   @user #white #supremacists want everyone to s...          20
3  safe ways to heal your #acne!!    #altwaystohe...          15
4  is the hp and the cursed child book up for res...          24
5    3rd #bihday to my amazing, hilarious #nephew...          18

In [ ]:
def stop_words(df):
    df['stopwords'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
    print(df[['tweet','stopwords']].head())

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:

def stop_words_removal(df):
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
    print(df['tweet'].head())

In [ ]:
stop_words(train)
stop_words(test)

                                               tweet  stopwords
1  father dysfunctional selfish drags kids dysfun...          0
2  thanks lyft credit cant use cause offer wheelc...          0
3                                     bihday majesty          0
4                            model take urð ðððð ððð          0
5                      factsguide society motivation          0
                                               tweet  stopwords
1  studiolife aislife requires passion dedication...          0
2  white supremacists want everyone see new birds...          0
3  safe ways heal acne altwaystoheal healthy healing          0
4  hp cursed child book reservations already yes ...          3
5  3rd bihday amazing hilarious nephew eli ahmir ...          0

In [ ]:
stop_words_removal(train)
stop_words_removal(test)

1    father dysfunctional selfish drags kids dysfun...
2    thanks lyft credit cant use cause offer wheelc...
3                                       bihday majesty
4                              model take urð ðððð ððð
5                        factsguide society motivation
Name: tweet, dtype: object
1    studiolife aislife requires passion dedication...
2    white supremacists want everyone see new birds...
3    safe ways heal acne altwaystoheal healthy healing
4    hp cursed child book reservations already yes ...
5    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [ ]:
def lower_case(df):
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
    print(df['tweet'].head())

In [ ]:
lower_case(train)
lower_case(test)

1    father dysfunctional selfish drags kids dysfun...
2    thanks lyft credit cant use cause offer wheelc...
3                                       bihday majesty
4                              model take urð ðððð ððð
5                        factsguide society motivation
Name: tweet, dtype: object
1    studiolife aislife requires passion dedication...
2    white supremacists want everyone see new birds...
3    safe ways heal acne altwaystoheal healthy healing
4    hp cursed child book reservations already yes ...
5    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [ ]:
def punctuation_removal(df):
    df['tweet'] = df['tweet'].str.replace('[^\w\s]','')
    print(df['tweet'].head())

In [ ]:
punctuation_removal(train)
punctuation_removal(test)

1    father dysfunctional selfish drags kids dysfun...
2    thanks lyft credit cant use cause offer wheelc...
3                                       bihday majesty
4                              model take urð ðððð ððð
5                        factsguide society motivation
Name: tweet, dtype: object
1    studiolife aislife requires passion dedication...
2    white supremacists want everyone see new birds...
3    safe ways heal acne altwaystoheal healthy healing
4    hp cursed child book reservations already yes ...
5    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [ ]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

life        1086
like        1042
today        991
new          983
positive     928
thankful     919
get          917
people       852
good         840
bihday       825
dtype: int64

In [ ]:
freq = list(freq.index)
def rare_words_removal(df):
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
    print(df['tweet'].head())

In [ ]:
rare_words_removal(train)
rare_words_removal(test)

1    father dysfunctional selfish drags kids dysfun...
2    thanks lyft credit cant use cause offer wheelc...
3                                              majesty
4                              model take urð ðððð ððð
5                        factsguide society motivation
Name: tweet, dtype: object
1    studiolife aislife requires passion dedication...
2    white supremacists want everyone see birdsâ mo...
3    safe ways heal acne altwaystoheal healthy healing
4    hp cursed child book reservations already yes ...
5    3rd amazing hilarious nephew eli ahmir uncle d...
Name: tweet, dtype: object

In [ ]:
pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [ ]:
from textblob import TextBlob

In [ ]:
def spell_correction(df):
    return df['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

In [ ]:
spell_correction(train)

1    father dysfunctional selfish drags kiss dysfun...
2    thanks left credit can use cause offer wheelch...
3                                              majesty
4                               model take or ðððð ððð
5                        factsguide society motivation
Name: tweet, dtype: object

In [ ]:

spell_correction(test)

1    studiolife dislike requires passion education ...
2    white supremacists want everyone see birds mov...
3    safe ways heal acne altwaystoheal healthy healing
4    he cursed child book reservations already yes ...
5    rd amazing hilarious nephew epi their uncle da...
Name: tweet, dtype: object

In [ ]:
def tokens(df):
    return TextBlob(df['tweet'][1]).words

In [ ]:
tokens(train)

WordList(['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run'])

In [ ]:

tokens(test)

WordList(['studiolife', 'aislife', 'requires', 'passion', 'dedication', 'willpower', 'find', 'newmaterialsâ'])

In [ ]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [ ]:
def stemming(df):
    return df['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [ ]:

stemming(train)

1        father dysfunct selfish drag kid dysfunct run
2    thank lyft credit cant use caus offer wheelcha...
3                                              majesti
4                              model take urð ðððð ððð
5                              factsguid societi motiv
Name: tweet, dtype: object

In [ ]:
stemming(test)

1    studiolif aislif requir passion dedic willpow ...
2    white supremacist want everyon see birdsâ movi...
3            safe way heal acn altwaystoh healthi heal
4    hp curs child book reserv alreadi ye ððð harry...
5    3rd amaz hilari nephew eli ahmir uncl dave lov...
Name: tweet, dtype: object

In [ ]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']

In [ ]:
for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))

In [ ]:

tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0         cause   1   5.690172   5.690172
1          lyft   1   8.762865   8.762865
2        credit   1   7.327781   7.327781
3           pdx   1   8.762865   8.762865
4         offer   1   6.522155   6.522155
5   disapointed   1  10.372303  10.372303
6        thanks   1   4.597751   4.597751
7    wheelchair   1   9.273691   9.273691
8    getthanked   1   9.679156   9.679156
9          cant   1   3.538194   3.538194
10          use   1   3.542509   3.542509
11         vans   1   8.426393   8.426393

In [ ]:
def polarity_subjectivity(df):
    return df['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

In [ ]:

polarity_subjectivity(train)

1    (-0.5, 1.0)
2     (0.2, 0.2)
3     (0.0, 0.0)
4     (0.0, 0.0)
5     (0.0, 0.0)
Name: tweet, dtype: object

In [ ]:
polarity_subjectivity(test)

1                                  (0.0, 0.0)
2                                  (0.0, 0.0)
3                                  (0.5, 0.5)
4                                  (0.5, 1.0)
5    (0.3666666666666667, 0.6333333333333333)
Name: tweet, dtype: object

In [ ]:
def sentiment_analysis(df):
    df['sentiment'] = df['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
    return df[['tweet','sentiment']].head()

In [ ]:
sentiment_analysis(train)

                                               tweet  sentiment
1  father dysfunctional selfish drags kids dysfun...       -0.5
2  thanks lyft credit cant use cause offer wheelc...        0.2
3                                            majesty        0.0
4                            model take urð ðððð ððð        0.0
5                      factsguide society motivation        0.0

In [ ]:
sentiment_analysis(test)

                                               tweet  sentiment
1  studiolife aislife requires passion dedication...   0.000000
2  white supremacists want everyone see birdsâ mo...   0.000000
3  safe ways heal acne altwaystoheal healthy healing   0.500000
4  hp cursed child book reservations already yes ...   0.500000
5  3rd amazing hilarious nephew eli ahmir uncle d...   0.366667